[submodule "themes/wowchemy"]
	path = themes/wowchemy
	url = https://github.com/wowchemy/wowchemy-hugo-themes.git
[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/wowchemy/starter-hugo-academic.git
[submodule "themes/hugo-resume"]
	path = themes/hugo-resume
	url = https://github.com/eddiewebb/hugo-resume.git
