{{ with .Site.GetPage "authors/admin" }}
<section id="about" class="resume-section">
    <div class="section-content">
        <h1>{{ .Title }}</h1>
        <div class="profile">
            {{ with .Params.role }}<h2>{{ . }}</h2>{{ end }}
            {{ with .Params.organizations }}
                {{ range . }}
                <div class="organization">
                    {{ .name }}
                </div>
                {{ end }}
            {{ end }}
        </div>
        <div class="bio">
            {{ .Content }}
        </div>
        {{ with .Params.interests }}
        <div class="interests">
            <h3>研究兴趣</h3>
            <ul>
                {{ range . }}
                <li>{{ . }}</li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
</section>
{{ end }} 